<!-- Content Header (Page header) -->
<section class="content-header">
    <div>
        <h1>Edit
            <span ng-if="user.type == userRoles.admin">admin</span>
            <span ng-if="user.type == userRoles.user">user</span>
            {{userName}}
        </h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="#/users/all"><i class="fa fa-dashboard"></i> Users</a></li>
        <li><a href="#/user/{{user.id}}"><i class="fa fa-dashboard"></i> {{user.userName}}</a></li>

        <li class="active">Edit user</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <div class="box box-primary">
                <div class="box-body">
                    <form name="form" novalidate role="form">
                        <div class="form-group" ng-class="{'has-error': !form.userName.$valid}">
                            <label for="userName">Username:</label>
                            <input placeholder="Username" type="text" ng-minlength="3" maxlength="64" required
                                   class="form-control" ng-model="user.userName" name="userName" id="userName">

                            <p class="help-block" ng-show="form.userName.$error.required">UserName is required</p>

                            <p class="help-block" ng-show="form.userName.$error.minlength">UserName must be at least 5
                                characters</p>
                        </div>
                        <!--<div class="form-group" ng-class="{'has-error': !form.password.$valid}">-->
                        <!--<label for="password">Password:</label>-->
                        <!--<input placeholder="Password" type="password" ng-minlength="5" maxlength="64" required-->
                        <!--class="form-control" ng-model="user.password" name="password" id="password">-->

                        <!--<p class="help-block" ng-show="form.password.$error.required">Password is required</p>-->

                        <!--<p class="help-block" ng-show="form.password.$error.minlength">Password must be at least 5-->
                        <!--characters</p>-->
                        <!--</div>-->
                        <div class="form-group" ng-class="{'has-error': !form.name.$valid}">
                            <label for="name">Name:</label>
                            <input placeholder="Name" type="text" ng-minlength="5" maxlength="64" required
                                   class="form-control" ng-model="user.name" name="name" id="name">

                            <p class="help-block" ng-show="form.name.$error.required">Name is required</p>

                            <p class="help-block" ng-show="form.name.$error.minlength">Name must be at least 5
                                characters</p>
                        </div>
                        <div class="form-group" ng-class="{'has-error': !form.sex.$valid}">
                            <label for="sex">Sex:</label>
                            <select class="form-control" name="sex" ng-model="user.sex" id="sex" required>
                                <option ng-repeat="sex in sexes">{{sex}}</option>
                            </select>

                            <p class="help-block" ng-show="form.sex.$error.required">Sex is required</p>
                        </div>
                        <div class="form-group" ng-class="{'has-error': !form.dateOfBirth.$valid}">
                            <label for="dateOfBirth">Date of Birth:</label>
                            <input type="date" class="form-control" ng-model="user.dateOfBirth" name="dateOfBirth"
                                   id="dateOfBirth">
                        </div>
                        <div>
                            <button ng-disabled="user.type == 'ORDINARY'" class="btn btn-flat btn-primary" type="submit"
                                    ng-click="makeUser(user.id)">Degrade to user</button>
                            <button ng-disabled="!form.$valid" class="btn btn-flat btn-primary pull-right" type="submit"
                                    ng-click="edit(user)">Submit changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>