<h2>New creature:</h2>
<form name="form" novalidate role="form">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <div class="form-group" ng-class="{'has-error': !form.userName.$valid}">
        <label for="userName">Username:</label>
        <input placeholder="Username" type="text" ng-minlength="5" maxlength="64" required class="form-control" ng-model="user.userName" name="userName" id="userName">
        <p class="help-block" ng-show="form.userName.$error.required">UserName is required</p>
        <p class="help-block" ng-show="form.userName.$error.minlength">UserName must be at least 5 characters</p>
    </div>
    <div class="form-group" ng-class="{'has-error': !form.password.$valid}">
        <label for="password">Password:</label>
        <input placeholder="Password" type="password" ng-minlength="5" maxlength="64" required class="form-control" ng-model="user.password" name="password" id="password">
        <p class="help-block" ng-show="form.password.$error.required">Password is required</p>
        <p class="help-block" ng-show="form.password.$error.minlength">Password must be at least 5 characters</p>
    </div>
    <div class="form-group" ng-class="{'has-error': !form.name.$valid}">
        <label for="name">Name:</label>
        <input placeholder="Name" type="text" ng-minlength="5" maxlength="64" required class="form-control" ng-model="user.name" name="name" id="name">
        <p class="help-block" ng-show="form.name.$error.required">Name is required</p>
        <p class="help-block" ng-show="form.name.$error.minlength">Name must be at least 5 characters</p>
    </div>
    <div class="form-group" ng-class="{'has-error': !form.type.$valid}">
        <label for="type">Type:</label>
        <select class="form-control" name="type" ng-model="user.type" id="type" required>
            <option ng-repeat="type in types">{{type}}</option>
        </select>
        <p class="help-block" ng-show="form.type.$error.required">Type is required</p>
    </div>
        <div class="form-group" ng-class="{'has-error': !form.sex.$valid}">
        <label for="sex">Sex:</label>
        <select class="form-control" name="sex" ng-model="user.sex" id="sex" required>
            <option ng-repeat="sex in sexes">{{sex}}</option>
        </select>
        <p class="help-block" ng-show="form.sex.$error.required">Sex is required</p>
    </div>
        <div class="form-group" ng-class="{'has-error': !form.dateOfBirth.$valid}">
        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" class="form-control" ng-model="user.dateOfBirth" name="dateOfBirth" id="dateOfBirth">
    </div>
    <div>
        <button ng-disabled="!form.$valid" class="btn btn-default" type="submit" ng-click="create(user)">Create user</button>
    </div>
    </div>
</form>