<!-- Content Header (Page header) -->
<section class="content-header">
    <div>
        <h1>New weapon</h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="#/weapons"><i class="fa fa-dashboard"></i> Weapons</a></li>
        <li class="active">New weapon</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
<div class="row">

    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <div class="box box-primary">
            <div class="box-body">
                <form name="form" novalidate role="form">
                    <div class="form-group" ng-class="{'has-error': !form.name.$valid}">
                        <label for="name">Name:</label>
                        <input placeholder="Name" type="text" ng-minlength="3" maxlength="64" required class="form-control" ng-model="weapon.name" name="name" id="name">
                        <p class="help-block" ng-show="form.name.$error.required">Name is required</p>
                        <p class="help-block" ng-show="form.name.$error.minlength">Name must be at least 3 characters</p>
                    </div>
                    <div class="form-group" ng-class="{'has-error': !form.type.$valid}">
                        <label for="type">Type:</label>
                        <select class="form-control" name="type" ng-model="weapon.type" id="type" required>
                            <option ng-repeat="type in types">{{type}}</option>
                        </select>
                        <p class="help-block" ng-show="form.type.$error.required">Type is required</p>
                    </div>
                    <div class="form-group" ng-class="{'has-error': !form.type.$valid}">
                        <label for="ammoType">Ammo:</label>
                        <select class="form-control" name="ammoType" ng-model="weapon.ammoType" id="ammoType" required>
                            <option ng-repeat="ammoType in ammoTypes">{{ammoType}}</option>
                        </select>
                        <p class="help-block" ng-show="form.type.$error.required">Type is required</p>
                    </div>
                    <div class="form-group" ng-class="{'has-error': !form.range.$valid}">
                        <label for="range">Effective range in metres:</label>
                        <input placeholder="0" type="number" ng-min="0" ng-pattern="/^-?\d*$/" required class="form-control" name="range" ng-model="weapon.range" id="range">
                        <p class="help-block" ng-show="form.range.$error.required">Range is required</p>
                        <p class="help-block" ng-show="form.range.$error.min">Range must be at least 0</p>
                        <p class="help-block" ng-show="form.range.$error.pattern">Range must be integer</p>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" maxlength="255" rows="4" name="description" ng-model="weapon.description" id="description"></textarea>
                    </div>
                    <button ng-disabled="!form.$valid" class="btn btn-flat btn-primary" type="submit" ng-click="create(weapon)">Create weapon</button>
                </form>
            </div>
        </div>
    </div>
</div>
</section>